{% extends 'base.html' %}
{% block title %}Minor{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Analysis of Steel Plate in Minor Axis Bending</h3>
    <p> Reference: AISC Manual of Steel Construction (ASD), Fourteenth Edition, 2011. </p>
    <img
            style="float: right;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 0px;"
  src="/static/images/minor_axis_image.jpg"
  alt="Minor Axis Bending Figure"
  width="700"
  height="450" />
    <p style="line-height: .4;"> Constants: </p>
    <p style="line-height: .4;"> Yield Strength: Fy = 36 ksi</p>
    <p style="line-height: .4;"> Modulus of Elasticity: E = 29,000 ksi</p>
    <p style="line-height: .4;"> LTB modification factor: Cb = 1.0</p>

    <div class="form-group">
        <label for="thickness" style="line-height: .4">Plate Thickness (in.)</label>
        <input
            type="number"
            style="width: 200px"
            class="form-control"
            id="thickness"
            name="thickness"
            placeholder="t (in.)"
        />
    </div>
     <div class="form-group">
        <label for="depth" style="line-height: .4">Plate Depth (in.)</label>
        <input
            type="number"
            style="width: 200px"
            class="form-control"
            id="depth"
            name="depth"
            placeholder="d (in.)"
        />
    </div>
    <div class="form-group">
        <label for="length" style="line-height: .4">Plate Length (in.)</label>
        <input
            type="number"
            style="width: 200px"
            class="form-control"
            id="length"
            name="length"
            placeholder="Lb (in.)"
        />
    </div>
        <div class="form-group">
        <label for="eccentricity" style="line-height: .4">Load Eccentricity (in.)</label>
        <input
            type="number"
            style="width: 200px"
            class="form-control"
            id="eccentricity"
            name="eccentricity"
            placeholder="e (in.)"
        />
    </div>
            <div class="form-group">
        <label for="maxload" style="line-height: .4">Max Applied Load (kip)</label>
        <input
            type="number"
            style="width: 200px"
            class="form-control"
            id="maxload"
            name="maxload"
            placeholder="Pmax (kip)"
        />
    </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
{% endblock %}